<%- include('partials/head') %>
<%- include('partials/navbar') %>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi est velit, saepe alias molestias obcaecati vitae quas nobis necessitatibus consequatur accusantium, quae exercitationem ut non tempore impedit praesentium eligendi tenetur!</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quam consequuntur blanditiis odio similique, vitae iste, amet nihil inventore labore repellendus? Consequatur laborum odit quaerat temporibus vero provident hic facilis.</p>
<%- include('partials/footer') %>
    
